@model Web_Library.Models.Book

@using Web_Library.Models

@{
    ViewBag.Title = "Book Action";

    List<Author> authors = ViewBag.Data;
    string controller = ViewBag.Controller;

    List<SelectListItem> list = new List<SelectListItem>();
    for (int i = 0; i < authors.Count; i++)
    {
        list.Add(new SelectListItem() { Text = authors[i].FullName, Value = authors[i].ID.ToString() });
    }
}

@section background {
    <div id="back-image"></div>
}

<h2>BookAction</h2>

@using (Html.BeginForm(controller, "Home"))
{
    <fieldset>
        <legend>Create New Task Form</legend>

        @Html.HiddenFor(m => m.ID)

        <div>
            <label>Title</label>
            @Html.TextBoxFor(m => m.Title, new { required = "required" })
        </div>

        <div>
            <label>Published Date</label>
            @Html.TextBoxFor(m => m.PublishedDate)
        </div>

        <div>
            <label>ISBN</label>
            @Html.TextBoxFor(m => m.ISBN, new { required = "required" })
        </div>

        <div>
            <label>Author</label>
            @Html.DropDownListFor(m => m.AuthorId, list)
        </div>

        <input type="submit" value="Create" />

    </fieldset>
}

