@model Web_Library.Models.Book

@using Web_Library.Models

@{
    ViewBag.Title = "Book Action";

    List<Author> authors = ViewBag.Data;
    string controller = ViewBag.Controller;

    List<SelectListItem> list = new List<SelectListItem>();
    for (int i = 0; i < authors.Count; i++)
    {
        list.Add(new SelectListItem() { Text = authors[i].FullName, Value = authors[i].ID.ToString() });
    }
}

@section links {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
}

@section background {
    <div id="back-image"></div>
}

@section scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".pubdate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd.mm.yy"
            });
        });
    </script>
}


@using (Html.BeginForm(controller, "Home"))
{
    <fieldset>
        <legend>@ViewBag.Legend</legend>

        @Html.HiddenFor(m => m.ID)

        <div>
            <label>Title</label>
            @Html.TextBoxFor(m => m.Title, new { required = "required", maxlength = 200 })
        </div>

        <div>
            <label>Published Date</label>
            @Html.TextBoxFor(m => m.PublishedDate, new { @class = "pubdate", @readonly = "readonly", Value = DateTime.Today.ToShortDateString() })
        </div>

        <div>
            <label>ISBN</label>
            @Html.TextBoxFor(m => m.ISBN, new { required = "required", maxlength = 20 })
        </div>

        <div>
            <label>Author</label>
            @Html.DropDownListFor(m => m.AuthorId, list)
        </div>

        <input type="submit" value=@ViewBag.ButtonName />

    </fieldset>
}

