@model Web_Library.Models.Book

@using Web_Library.Models

@{
    ViewBag.Title = "Book Action";

    List<Author> authors = ViewBag.Data;
    string controller = ViewBag.Controller;

    List<SelectListItem> list = new List<SelectListItem>();
    for (int i = 0; i < authors.Count; i++)
    {
        list.Add(new SelectListItem() { Text = authors[i].FullName, Value = authors[i].ID.ToString() });
    }
}

@section links {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
}

@section background {
    <div id="back-image"></div>
}

@section scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".pubdate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd.mm.yy"
            });
        });
        $('.pubdate').removeAttr("data-val-date");
    </script>
}


<div class="row">
    <div class="col-xs-3">
        <div class="navigation-text">
            <i class="fa fa-long-arrow-left fa-2x"></i>
        </div>
        @Html.ActionLink(" ", "Books", "Home", new { @class = "to-navigation-button" })
    </div>
    <div class="col-xs-6">
        @using (Html.BeginForm(controller, "Home"))
        {
            <fieldset>
                <legend>@ViewBag.Legend</legend>

                @Html.HiddenFor(m => m.ID)
                <div style="margin-top: 5em">
                    <div id="left-form" class="half">
                        @Html.TextBoxFor(m => m.Title, new { @class = "forminput", placeholder = "Title" })
                        @Html.ValidationMessageFor(x => x.Title)

                        @Html.DropDownListFor(m => m.AuthorId, list, "-Select Author-", new { @class = "forminput" })
                        @Html.ValidationMessageFor(x => x.AuthorId)
                    </div>

                    <div id="right-form" class="half">
                        @Html.TextBoxFor(m => m.ISBN, new { @class = "forminput", placeholder = "ISBN" })
                        @Html.ValidationMessageFor(x => x.ISBN)

                        @Html.TextBoxFor(m => m.PublishedDate, new { @class = "pubdate forminput", placeholder = "Published Date" })
                        @Html.ValidationMessageFor(x => x.PublishedDate)
                    </div>

                    <input type="submit" value=@ViewBag.ButtonName class="forminput" id="sub-btn" />
                </div>

            </fieldset>
        }
    </div>
    <div class="col-xs-3"></div>
</div>



